<input [formControl]="nameControl" >


<fieldset [formGroup]="fullNameControl" >

  <input formControlName="firstName" >
  <input formControlName="secondName" >

</fieldset>

<form [formGroup]="userListControl">
  
  <ul formArrayName="users">
    <li *ngFor="let userControl of userList.controls; let i = index">
      <input formControlName="{{i}}">
      <button (click)="removeUserControl(i)">Remove</button>
      
    </li>
  </ul>

</form>
<button (click)="addUserControl()">Add input</button>


<app-traffic [formControl]="trafficControl" ></app-traffic>

<div>
  <span *ngIf="trafficControl.value === 'green'" >Green</span>
  <span *ngIf="trafficControl.value === 'yellow'" >Yellow</span>
  <span *ngIf="trafficControl.value === 'red'" >Red</span>
</div>