<div class="AddWindows">
    <div class="AddWindows__Title-popup">Изменить Машину</div>

    <div class="AddWindows__message" *ngIf="data.name == undefined" >
        Выберите машину которую хотите изменить
    </div>

    <div class="AddWindows__Create-car" *ngIf="data.name != undefined">

        <mat-form-field appearance="fill">
            <mat-label>Название машины и модель</mat-label>
            <input matInput [(ngModel)]="data.name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Дата производства</mat-label>
            <mat-select [(ngModel)]="data.yearsIssue" >
            <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="AddWindows__checkbox">
            <input type="checkbox" [(ngModel)]="data.carAccident" id="broken"> <label for="broken">Участвовала в ДТП</label>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Стоимость</mat-label>
            <input type="number" matInput [(ngModel)]="data.price">
        </mat-form-field>
        

    </div>
    <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Изменить</button>
    <button mat-button (click)="onNoClick()">Отмена</button>  
</div>

